<!-- View crear obras -->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="SistemasController">
			<label class="tituloVista">CREAR SISTEMA SONORO</label>

			<form data-ng-submit="create()" novalidate>
				<!-- Mensaje de error-->
				<div  data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>

				<div class="campo">
					<label>NOMBRE DEL SISTEMA SONORO*</label>
				</div>

				<div>
					<input type="text" class="form-control" ng-model="nombre" id="titulo"  placeholder="Título completo de la obra"required>
				</div>

				<div class="campo">
					<label  for="descripcion">DESCRIPCIÓN</label>	
					<div>
						<textarea class="form-control-big" wrap="soft" placeholder="" ng-model="descripcion" id="descripcion"></textarea>
					</div>
				</div>
				<hr/ class="division">	
	<!-- Sistemas relacionadas -->
				<label class="campo">SISTEMAS RELACIONADOS (ALIAS)</label>
				<div ng-mouseover="updateSistemas()">
					<select ng-model="sistemaRelacionado" class="form-control">
						<option value="">-----</option>
						<option ng-repeat="sistema in sistemas track by $index" value="{{sistema._id}}">
							{{sistema.nombre}}
						</option>	
						
					</select>
				</div>

				<div>
					<h2  class="glyphicon glyphicon-plus" ng-click="sistemaRelacionadoAdd()">Agregar</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idAlias track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="sistemaRelacionadoRemove(n.id)"> {{n.nombre}}</h2>
				</div>
				<div class="campo">
<!-- Fin sistemas relacionadas -->

<!-- Padre -->
				<label class="campo">SISTEMAS PADRE</label>
				<div ng-mouseover="updateSistemas()">
					<select  ng-model="padres" class="form-control">
						<option value="">-----</option>
						<option ng-repeat="sistema in sistemas track by $index"  value="{{sistema._id}}">
							{{sistema.nombre}}
						</option>	
						
					</select>
				</div>

				<div>
					<h2  class="glyphicon glyphicon-plus" ng-click="padresAdd()">Agregar</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idPadres track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="padresRemove(n.id)">{{n.nombre}}</h2>
				</div>

				<div class="campo">
<!-- Fin padres -->

<!-- Hijos -->
				<label class="campo">SISTEMAS HIJOS</label>
				<div ng-mouseover="updateGeneros()">
					<select ng-model="hijos" class="form-control">
						<option value="">-----</option>
						<option ng-repeat="sistema in sistemas track by $index"  value="{{sistema._id}}">
							{{sistema.nombre}}
						</option>	
						
					</select>
				</div>

				<div>
					<h2 class="glyphicon glyphicon-plus" ng-click="hijosAdd()">Agregar</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idHijos track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="hijosRemove(n.id)">{{n.nombre}}</h2>
				</div>

				<div class="campo">
<!-- Fin hijos -->
				<hr/ class="division">	
<!-- Proyectos asociados -->
					<label class="seccion">PROYECTOS ASOCIADOS</label>

					<label class="campo"></label>
					<select class="form-control" ng-model="proyecto" ng-mouseup="updateProyectos();">
						<option ng-repeat="proyecto in proyectos track by $index" value="{{proyecto.id}}">
							{{proyecto.nombre}}
						</option>
						<option value="">-----</option>	
					</select>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="proyectoAdd();">Agregar</h2>
					<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>

					</div>

					<div ng-model="todoerase" ng-repeat="p in idProyectos track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f" ng-click="proyectoRemove(p.proyecto)"> {{proyectoAux(p.proyecto)}}</h2>
					</div>
					<hr/ class="division">
<!-- Anotaciones cartográfico-temporales -->
				
					<div>
					<label class="seccion">ANOTACIONES CARTOGRÁFICO TEMPORALES</label>
					<hr><label class="campo">Lugar</label></hr>
					<select ng-model="lugar" class="form-control">
						<option ng-repeat="lugar in lugares track by $index" value="{{lugar}}">
							{{lugar}}
						</option>	
						<option value="">-----</option>
					</select>
						<labelclass="campo">Evento</label>	
							<input type="text" class="form-control" placeholder="" ng-model="evento"></input>	
					<label class="campo">Amplitud o cobertura</label>
					<select ng-model="coberturaAmplitud" class="form-control">
						<option ng-repeat="cobertura in coberturas track by $index" value="{{cobertura}}">
							{{cobertura}}
						</option>
						<option value="">-----</option>	
					</select>

					<label class="campo">Fecha de inicio></label>
					<input type="date" class="form-control" ng-model="fechaDeInicio" placeholder="Fecha de inicio">

					<label class="campo">Fecha de finalización</label>
					<input type="date" class="form-control" ng-model="fechaDeFin" placeholder="Fecha de finalización">
						<label  class="campo" for="descripcion">Evidencia</label>	
							<input class="form-control" placeholder="" ng-model="evidencia">


						<h2  class="glyphicon glyphicon-plus" ng-click="anotacionCartograficoTemporalAdd()">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>
					</div >

					<div ng-model="todoerase" ng-repeat="c in idAnotacionesCartograficoTemporales track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f" ng-click="anotacionCartograficoTemporalRemove(c.lugar)">En {{c.lugar}}, cobertura:  {{c.coberturaAmplitud}} evento: {{c.evento}}</h2>
					</div>
					<hr class="division">
<!-- Fin Anotaciones cartográficas -->
<!-- Descriptores libres -->

				<hr><label class="seccion">DESCRIPTORES LIBRES</label></hr>
				<hr><label class="campo">Etiqueta</label></hr>
				<select ng-model="dEtiqueta" class="form-control">
					<option ng-repeat="d in dEtiquetas track by $index" value="{{d}}">
						{{d}}
					</option>
					<option value="">-----</option>	
					<tt>tipoSelect={{d}}</tt>
				</select>

				<div>
					<label class="campo">Contenido</label>
					<input type="text" class="form-control" ng-model="dContenido" placeholder="">
				</div>

				<div>
					<h2  class="glyphicon glyphicon-plus" ng-click="dDescriptorAdd();">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idDescriptores track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="dDescriptorRemove(n.contenido);"> {{n.etiqueta}} {{n.contenido}}</h2>
				</div>
				<hr class="division">
<!-- Fin descriptores libres -->


<!-- Vínculos y archivos -->

				<hr><label class="seccion">ENLACES Y ARCHIVOS</label></hr>
				<div>
					<label class="campo">Nombre (descripción)</label>
					<input type="text" class="form-control" ng-model="eEtiqueta" placeholder="">
				</div>

				<div>
					<label class="campo">Enlace o dirección(descripción)</label>
					<input type="text" class="form-control" ng-model="eUrl" placeholder="">
				</div>

				<div>
					<h2 class="glyphicon glyphicon-plus" ng-click="enlaceAdd();">Agregar</h2>
					<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idEnlaces track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="enlaceRemove(n.etiqueta);"> {{n.etiqueta}} {{n.url}}</h2>
				</div>
<!-- Vínculos y archivos -->

					<div>
						<input type="submit" class="btn btn-primary btn-lg2" value="Crear sistema sonoro">
						<div  data-ng-show="error">
							<strong class="error" data-ng-bind="error"></strong>
						</div>
					</div>
				</section>
				

			</div>
		</form>	
	</div>
