<!-- View crear obras -->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<div class="jumbotron">
	<div class="container">

		<section data-ng-controller="ActoresObrasController">
			<label class:".tituloVista">Nueva relación actor-obra</label>
			<form data-ng-submit="create()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong data-ng-bind="error"></strong>
				</div>

				<div class="campo">
					<label  for "actor">Actor</label>
				</div>
				<div>
					<input type="text" class="form-control" data-ng-model="actor" id="actor"  placeholder="actor"required>
				</div>

				<div class="campo">
					<label  for "obra">Obra</label>
				</div>
				<div>
					<input type="text" class="form-control" data-ng-model="obra" id="actor"  placeholder="obra"required>
				</div>


				<div>
					<label class="campo" for="roll">Rol</label>
					<select  select name="rollSelect" class="form-control" ng-options="rol for rol in roles" data-ng-model="roll">
						<option value="">Seleccione un valor</option>
						<tt>rollSelect={{roll}}</tt>
					</select>
				</div>
				<div>
					<a type="submit" class="glyphicon glyphicon-plus" aria-hidden="true" href="#!/actoresObras/create"></a>
				</div>
				<div>
					<input type="submit" class="btn btn-primary btn-lg">
				</div>
			</form>
		</section>
	</div>
</div>
