<!-- View listar obras-->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<section data-ng-controller="ObrasController" data-ng-init="find()">
	<label class="tituloVista">LISTADO DE OBRAS</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> Filtrar <input type="text" ng-model="search">
						</th>
						<th>
						<label> Ordenar </label>
							<select ng-model="orden">
							<option value="titulo">Título</option>
							<option value="descripcion">Descripción</option>
							<option value="creado">Fecha de creación</option>
							<option value="obra.creador.fullName">Creador</option>
							<option value="tipo">Tipo</option>
							<option value="contenedor">Contenedor</option>
							<option value="descripcion">Descripción</option>
							</select>	
						</th>
					</tr>
				</thead>
			</table>
		<!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th class="campo">Título</th>
					<!--<th class="campo">Creación</th>-->
					<!-- <th class="campo">Creador</th>-->
					<th class="campo">Descripción</th>
					<th class="campo">Contenedor</th>
					<th class="campo">Tipo</th>
					<th class="campo">Editar-borrrar</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="obra in obras | orderBy:orden|filter:search">

					<!-- obras es el modelo-->
					<td>
						<a href="/#!/obras/{{obra._id}}"><span class="glyphicon glyphicon-sunglasses"  </span></a>

					</td>
					<td class="titulo" data-ng-href="#!/obras/{{obra._id}}" data-ng-bind="obra.titulo"></td>
					<!--<td><small data-ng-bind="obra.creado | date:'medium'"></small></td>-->
					<!--<td><small data-ng-bind="obra.creador.fullName"></small></td>-->
					<td class="descripcion"data-ng-bind="obra.descripcion"></td>
					<td class="descripcion"data-ng-bind="obra.contenedor"></td>
					<td class="descripcion"data-ng-bind="obra.tipo"></td>
					<td data-ng-show="authentication.user._id == obra.creador._id">
						<a href="/#!/obras/{{obra._id}}/edit"><span class="glyphicon glyphicon-pencil"  </span></a>
						<a href="/#!/obras/{{obra._id}}" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"  </span></a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	

</div>
</ul>

<div data-ng-hide="!obras || obras.length">
	<a href="/#!/obras/create"></a>
</section>
