<!-- View listar ejemplars-->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<section data-ng-controller="EjemplaresController" class="bodyList" data-ng-init="find()">
	<label class="tituloVista">LISTADO DE EJEMPLARES</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> Filtrar <input type="text" ng-model="search">
						</th>
						<th>
						<label> Ordenar </label>
							<select ng-model="orden">
							<option value="numeroEjemplar">Número</option>
							<option value="recurso">Recurso</option>
							<option value="disponibilidad">Disponibilidad</option>
							</select>	
							<span class="sortOrder" ng-class="{reverse: reverse}" ng-click="sortBy()"></span>
						</th>
					</tr>
				</thead>
			</table>
		<!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th class="campo">Recurso</th>
					<th class="campo">Número</th>
					<th class="campo">Disponibilidad</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="ejemplar in ejemplares | orderBy:orden:reverse|filter:search">

					<!-- ejemplars es el modelo-->
					<td>
						<a href="/#!/ejemplares/{{ejemplar._id}}"><span class="glyphicon glyphicon-sunglasses"></a>
					</td>
					<td class="descripcion" data-ng-bind="verRecurso(ejemplar.recurso)"></td>
					<td class="titulo" data-ng-href="#!/ejemplars/{{ejemplar._id}}" data-ng-bind="ejemplar.numeroEjemplar"></td>
					<td class="descripcion" data-ng-bind="ejemplar.disponibilidad"></td>
					<td data-ng-show="authentication.user._id == ejemplar.creador._id">
						<a href="/#!/ejemplares/{{ejemplar._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	

</div>
</ul>

<div data-ng-hide="!ejemplars || ejemplars.length">
	<a href="/#!/ejemplars/create"></a>
</section>
