<!-- View crear obras -->
<<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<div class="jumbotron">
	<div class="container">

		<section data-ng-controller="ActoresController">
			<label class="tituloVista">CREAR ACTOR</label>
			<form data-ng-submit="create()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong data-ng-bind="error"></strong>
				</div>

				<div class="campo">
					<label>NOMBRES</label>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="nombres" placeholder="Nombre de pila"required>
				</div>

				<div class="campo">
					<label>APELLIDOS</label>
				</div>

				<div>
					<input type="text" class="form-control" ng-model="apellidos" id="apellidos"  placeholder="Apellidos"required>
				</div>
				<div class="campo">
					<label>NOMBRE DE REUNIÓN</label>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="nombreReunion" id="nombreReunion"  placeholder="Nombre de reunión"required>
				</div>
				<hr class="division">
<!-- Contenedor -->
				<label class="campo">CONTENEDOR</label>
				<select class="form-control" ng-model="contenedor" ng-mouseup="updateActores();">
						<option ng-repeat="actor in actores track by $index" value="{{actor.id}}">
							{{actor.fullName}}
						</option>
						<option value="">-----</option>	
					</select>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="actorAdd();">Agregar</h2>
					<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>

					</div>

					<div ng-model="todoerase" ng-repeat="c in idContenedores track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f" ng-click="actorRemove(c.id)"> {{actorAux(c.id)}}</h2>
					</div>
<!-- Contenedor -->
				<hr class="division">				

<!-- Anotaciones cartográfico-temporales -->
				
					<div>
					<label class="seccion">ANOTACIONES CARTOGRÁFICO TEMPORALES</label>
					<hr><label class="campo">Lugar</label></hr>
					<select ng-model="lugar" class="form-control">
						<option ng-repeat="lugar in lugares track by $index" value="{{lugar}}">
							{{lugar}}
						</option>	
						<option value="">-----</option>
					</select>
						<labelclass="campo">Evento</label>	
							<input type="text" class="form-control" placeholder="" ng-model="evento"></input>	
					<label class="campo">Amplitud o cobertura</label>
					<select ng-model="coberturaAmplitud" class="form-control">
						<option ng-repeat="cobertura in coberturas track by $index" value="{{cobertura}}">
							{{cobertura}}
						</option>
						<option value="">-----</option>	
					</select>

					<label class="campo">Fecha de inicio></label>
					<input type="date" class="form-control" ng-model="fechaDeInicio" placeholder="Fecha de inicio">

					<label class="campo">Fecha de finalización</label>
					<input type="date" class="form-control" ng-model="fechaDeFin" placeholder="Fecha de finalización">
						<label  class="campo" for="descripcion"Evidencia></label>	
							<input class="form-control" placeholder="" ng-model="evidencia">
					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="anotacionCartograficoTemporalAdd();">Agregar</h2>
					</div >

					<div ng-model="todoerase" ng-repeat="c in idAnotacionesCartograficoTemporales track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f" ng-click="anotacionCartograficoTemporalRemove(c.lugar)">En {{c.lugar}}, cobertura:  {{c.coberturaAmplitud}} evento: {{c.evento}}</h2>
					</div>
					<hr class="division">
<!-- Fin Anotaciones cartográficas -->
<!-- Descriptores libres -->

				<hr><label class="seccion">DESCRIPTORES LIBRES</label></hr>
				<hr><label class="campo">Etiqueta</label></hr>
				<select ng-model="dEtiqueta" class="form-control">
					<option ng-repeat="d in dEtiquetas track by $index" value="{{d}}">
						{{d}}
					</option>
					<option value="">-----</option>	
					<tt>tipoSelect={{d}}</tt>
				</select>

				<div>
					<label class="campo">Contenido</label>
					<input type="text" class="form-control" ng-model="dContenido" placeholder="">
				</div>

				<div>
					<h2 class="glyphicon glyphicon-plus" ng-click="dDescriptorAdd();">Agregar</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idDescriptores track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="dDescriptorRemove(n.contenido);"> {{n.etiqueta}} {{n.contenido}}</h2>
				</div>
				<hr class="division">
<!-- Fin descriptores libres -->	

<!-- Vínculos y archivos -->

				<hr><label class="seccion">ENLACES Y ARCHIVOS</label></hr>
				<div>
					<label class="campo">Nombre (descripción)</label>
					<input type="text" class="form-control" ng-model="eEtiqueta" placeholder="">
				</div>

				<div>
					<label class="campo">Enlace o dirección(descripción)</label>
					<input type="text" class="form-control" ng-model="eUrl" placeholder="">
				</div>

				<div>
					<h2 class="glyphicon glyphicon-plus" ng-click="enlaceAdd();">Agregar</h2>
					<h2 class="glyphicon glyphicon-modal-window" ng-click="">Crear</h2>
				</div>

				<div ng-model="todoerase" ng-repeat="n in idEnlaces track by $index" class="campo">
					<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="enlaceRemove(n.etiqueta);"> {{n.etiqueta}} {{n.url}}</h2>
				</div>
				<hr class="division">
<!-- Fin Vínculos y archivos -->

				
				<div>
					<input type="submit" class="btn btn-primary btn-lg" >
				</div>
			</form>
		</section>
	</div>
</div>
