<!-- View editar artículo-->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="ActoresController" data-ng-init="findOne()">
		<label class="tituloVista">Editar Actor</label>
			<form data-ng-submit="update()" novalidate>
				<div>
					<label class="campo" for="nombrePila">Nombre de pila</label>
					<div>
						<input type="text" class="form-control" data-ng-model="actor.nombrePila" id="titulo" placeholder="Titulo" required>
					</div>
				</div>

				<div>
					<label class="campo" for="apellidos">Apellidos</label>
					<div>
						<input type="text" class="form-control" data-ng-model="actor.apellidos" id="titulo" placeholder="Titulo" required>
					</div>
				</div>


				<div>
					<h2><label for="contenedor">Contenedor</label></h2>
					<select  select name="contenedorSelect" class="form-control" ng-options="item for item in items" data-ng-model="actor.contenedor">
						<option value="">Seleccione un valor</option>
						<tt>contenedorSelect={{contenedor}}</tt>
					</select>
				</div>



				<div data-ng-show="error">
					<strong data-ng-bind="error"></strong>
				</div>

				<div>
					<input class="btn btn-primary btn-lg" type="submit" value="Actualizar">
				</div>
				
			</form>
		</div>
	</section>
</div>
</div>