<!-- View listar actores-->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<section data-ng-controller="ActoresObrasController" data-ng-init="find()">
	<h1>Listado de relaciones Actor-obra</h1>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> Filtrar <input type="text" ng-model="search">
						</th>
						<th>
						<label> Ordenar </label>
							<select ng-model="orden">
							<option value="actorObra.obra.titulo">Obra</option>
							<option value="actorObra.actor.NombrePila">Actor</option>
							<option value="actorObra.roll">Rol</option>
							<option value="actorObra.creado">Fecha de creación</option>
							<option value="actorObra.creador.fullName">Creador</option>
							</select>	
						</th>
					</tr>
				</thead>
			</table>
		<!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th class="campo">Obra</th>
					<th class="campo">Nombre de Pila</th>
					<th class="campo">Apellidos</th>
					<!--<th class="campo">Creación</th>-->
					<!-- <th class="campo">Creador</th>-->
					<th class="campo">Rol</th>
					<th class="campo">Editar-borrrar</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="actorObra in actoresObras | orderBy:orden|filter:search">

					<!-- actores es el modelo-->
					<td>
						<a href="/#!/actoresObras/{{actorObra._id}}"><span class="glyphicon glyphicon-sunglasses"  </span></a>
					</td>
					<!--<td class="descripcion" data-ng-href="#!/actores/{{actor._id}}" data-ng-bind="actor.creador"></td>-->
					<!--<td><small data-ng-bind="obra.creado | date:'medium'"></small></td>-->
					<!--<td><small data-ng-bind="obra.creador.fullName"></small></td>-->
					<td class="descripcion"data-ng-bind="actorObra.obra.titulo"></td>
					<td class="descripcion"data-ng-bind="actorObra.actor.nombrePila"></td>
					<td class="descripcion"data-ng-bind="actorObra.actor.apellidos"></td>
					<td class="descripcion"data-ng-bind="actorObra.roll"></td>
					<td data-ng-show="authentication.user._id == actorObra.creador._id">
						<a href="/#!/actoresObras/{{actorObra._id}}/edit"><span class="glyphicon glyphicon-pencil"  </span></a>
						<a href="/#!/actoresObras/{{actorObra._id}}" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"  </span></a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	

</div>
</ul>

<div data-ng-hide="!actorObra || actorObra.length">
	<a href="/#!/actoresObras/create"></a>
</div>
</section>
