<!-- View actor-->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<section data-ng-controller="ActoresObrasController" data-ng-init="findOne()">

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="tituloVista" data-ng-bind="actorObra.actor.nombrePila"></div>
		<div class="tituloVista" data-ng-bind="actorObra.Obra.titulo"></div>
		<!-- Mostrar los botones de edición para el creador del artículo-->
		<div data-ng-show="authentication.user._id==actorObra.creador._id">
			<a href="/#!/actoresObras/{{actorObra._id}}/edit"><span class="glyphicon glyphicon-pencil"</span></a></a>
			<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"  </span></a>
		</div>
		
		<!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="campo">Campo</th>
					<th class="campo"> Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Actor</td>
					<td data-ng-bind="actorObra.actor.nombrePila"></td>
				</tr>

				<tr>
					<td>Apellidos</td>
					<td data-ng-bind="actorObra.actor.apellidos"></td>
				</tr>

				<tr>
					<td>Obra</td>
					<td data-ng-bind="actorObra.obra.titulo"></td>
				</tr>

				<tr>
					<td>Rol</td>
					<td data-ng-bind="actorObra.roll"></td>
				</tr>

			</tbody>

		</table>
	</div>
	<div class="creador">
		<em>Creada en </em>
		<em data-ng-bind="actorObra.creado |date:'mediumDate'"></em>
		<em>por</em>
		<em data-ng-bind="actorObra.creador.fullName"></em>
	</div>
</section>


