<!-- View crear obras -->
<ng-include src="'example/views/example.client.view.html'"/></ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="DiccionariosController">
			<label class="tituloVista">CREAR CAMPO EN DICCIONARIO DE DATOS</label>

			<form class="form-principal" data-ng-submit="create()" novalidate>
				<!-- Mensaje de error-->
				<div  data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>
				
				<div>
					<label>Tabla</label>
					<input type="text" class="form-control" ng-model="tabla" required>
				</div>

				<div>
					<label>Campo abreviado</label>
					<input type="text" class="form-control" ng-model="campo" required>
				</div>

				<div>
					<label>Campo largo</label>
					<input type="text" class="form-control" ng-model="campoLargo" required>
				</div>


				<div>
					<label>Definición</label>
					<input type="text" class="form-control-big" ng-model="definicion" required>
				</div>
					
						<div>
						<input type="submit" class="btn btn-primary pull-right" value="Crear diccionario">
						<div  data-ng-show="error">
							<strong class="error" data-ng-bind="error"></strong>
						</div>
			</div>
		</form>	
	</div>
